/*** CSS related to the content displayed***/

@import url(https://indestructibletype.com/fonts/Jost.css);


.card:not(.card-padding) {
        cursor:pointer;
}
.container {
        text-align:left;
        height: 100%;
        max-width:500px;
}

.description {
        font-family: 'Jost', Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;
        color: #333;
        margin:15px 0 5px 0 !important;
        text-align:left;
        max-width:500px;
        display:none;
}

.name {
        font-family: 'Jost', Arial, sans-serif;
        font-size: 20px;
        line-height: 130%;
        margin: 0 0 2px 0;
        text-decoration: none;
        font-weight: 700;
        color: black;
        padding-right: 0;
        font-style: normal;
        display:block;
        word-wrap:break-word;
}

.img-preview{
    display: flex;
    justify-items: center;
    max-width:500px;
    margin-bottom: 8px;

}
.img-preview:after {
    content: "";
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 0;

}
.img-preview>img{
        height: 100%;
}

.popUp{
        transition: padding 500ms  cubic-bezier(0, 0, 0, 1), background-color 500ms  cubic-bezier(0, 0, 0, 1);
        padding: 10%!important;
        z-index: 1000;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

.popUp > div{
        transition: box-shadow 500ms cubic-bezier(0, 0, 0, 1);
        box-shadow: rgba(0, 0, 0, 0.4) 0 12px 32px 8px;
        background-color: white;
        cursor:default!important;
}

.cards-container{
        position:relative;
}

.button-container {
        text-align:center;
        float:right;
        display: none;

        font-family: 'Jost', Arial, sans-serif;
        font-weight: 700;

        border-radius:4px;
        padding-top:5px;

        text-decoration:none;
        font-size:20px;
        color: white;
        background-color:#FC264A;
}
.popUpOpen .button-container {
        display: inline-block;
}

.openButton {
        font-family: 'Jost', Arial, sans-serif;
        font-weight: 700;
        display:none;

        border-radius:4px;
        padding: 0px 10px 2px 10px;

        text-decoration:none;
        text-align:center;
        font-size:20px;
        color: white;
        background-color:#FC264A;
}

.availability {
        display:none;

        max-width:500px;

        font-size: 14px;
        font-weight:bold;
        line-height: 18px;
        text-align:justify;
        color: #666;
}

[data-availability="Yes"][data-available="yes"] {
        display:inline-block;
}

[data-availability="No"][data-available="no"] {
        display:inline-block;
}


.popUpOpen .cross-relative {
        position:relative;
}

.closePopup{
        z-index: 1;
        right: 5px;
        padding: 7px;
        color: rgb(68, 68, 68);
        position: absolute;
        cursor:pointer;
        display:none;
}

.popUpOpen .closePopup {
        display:block;
}

.popUpOpen .description {
        display:block;
}

.content-container{
        position:relative;
}

.Big-Img {
        width:100%;
        margin-top: 7px;
}

.closePopup img {
        width:20px;
}

.details {
        font-family: 'Jost', Arial, sans-serif;
        color: #444444;
        line-height: 16px;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        letter-spacing: -0.5px;
        font-style: normal;
}

.Price {
        font-family: 'Jost', Arial, sans-serif;
        text-decoration: none;
        font-size: 20px;
        line-height: 16px;
        color: #FB2547;
        font-weight: 400;
        clear: left;
        font-style: normal;
        word-wrap: break-word;
        display:block;
        margin:9px 0 5px 0;
}


.info {
        margin: 10px;
        padding-bottom: 10px;
}


/*** CSS for Awesome Table Gadget***/
/* loader progress bar */
.loader {
        background-color:#FC264A;
}

/*** Configuration of FILTERS ***/

/** Labels of filters **/
.google-visualization-controls-label {
        color:#333;
        font-weight: 500!important;
}

/** StringFilter **/
.google-visualization-controls-stringfilter INPUT {
        border:1px solid #d9d9d9!important;
        color:#222;
}
.google-visualization-controls-stringfilter INPUT:hover {
        border:1px solid #b9b9b9;
        border-top:1px solid #a0a0a0;
}
.google-visualization-controls-stringfilter INPUT:focus {
        border:1px solid #4d90fe;
}

/* CategoryFilter & csvFilter hovered item in the dropDown */
.charts-menuitem-highlight {
        background-color:rgb(50, 122, 247)!important;
        border-color:rgb(50, 122, 247)!important;
        color:#FFF!important;
}


/* SLIDER CSS PART */

  #custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }


/* OTHER CSS PART */

.awesomeTable-visualization-cards .card-content {
  margin: 0 -1px -1px 0;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0;
  border: solid 1px rgba(189, 189, 189, 0.4);
  display:flex;
}

.card-content>div>div {
  padding: 15px;
}

.awesomeTable-visualization-cards .cards-container {
  margin-right: 1px;
}

.awesomeTable-visualization-cards .card-content:hover {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0;
}

.card-content>div:not(.popUp):hover{
  box-shadow: rgba(0, 0, 0, 0.4) 0 8px 16px 0;
}

.card-content>div {
    transition: box-shadow 500ms cubic-bezier(0.22, 0.84, 0.57, 1);
}

div.popUp {
    transition: box-shadow 500ms cubic-bezier(0.22, 0.84, 0.57, 1), padding 500ms  cubic-bezier(0, 0, 0, 1);
}
